

.bold {
    color: #5DB231;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#colorGray {
    color: #ff0000;
}

input[type=text] {
    color: blue
}

h2, h3 {
    font-size: 10px;
}

ol li {
    color: red
}

ol>li {
    font-size: 30px;
}

p:active {
    font-size: 100px;
}

p:hover {
    color: pink;
}


