<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

<form method="post" action="">
    <div class="form-group">
        <textarea class="form-control" name="question" id="questionInput" cols="100" rows="10"></textarea>
        <span>Còn
            <span id="character">200</span>/200 ký tự</span>
    </div>
    <button type="submit" class="btn btn-primary" class="form-control">Gửi</button>
</form>