<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

<form method="post" action="">
    <textarea name="question" id="" cols="100" rows="10"></textarea>

    <button type="submit">Gửi</button>
</form>