 <h2>Question</h2>
        <p> {{questionInfo.content}} </p>
        <button class="yes"><a href="/vote/{{questionInfo.id}}/yes"> Yes </a></button>
        <button class="no"><a href="/vote/{{questionInfo.id}}/no"> No </a></button>